#!/bin/sh
dwmblocks &
remaps.sh &
dunst &
xcompmgr &
xwallpaper --zoom ~/pics/wallpapers/blood-moon* &
notify-send 'daily reminder' 'if you work hard enough, you can replace depression with exhaustion'
